# 百度网盘Cookie
COOKIE=XFI=

# 转存数量
COUNT=10

# Webhook地址
WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=

# 转存目标目录名
TARGET_FOLDER=下载

# 缓存过期时间（小时），超过此时间将重新从API获取数据并更新缓存
CACHE_EXPIRE_HOURS=12
